node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# macOS
.DS_Store

environmentVars.tsx
constants/environmentVars.tsx
constants/enviromentsVars.tsx
constants/environmentsVars.tsx

debug.log
constants/environmentVars.tsx
